aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aiosignal==1.4.0
aistudio_sdk==0.3.9
annotated-types==0.8.0
anyio==4.14.2
astor==0.8.1
attrdict==2.0.1
attrs==26.1.0
babel==2.18.0
bce-python-sdk==0.9.79
beautifulsoup4==4.15.0
blinker==1.9.0
boto3==1.35.24
botocore==1.35.99
cachetools==7.1.8
certifi==2026.7.22
cffi==1.17.1
chardet==7.6.0
charset-normalizer==3.4.3
click==8.5.0
colorama==0.4.6
colorlog==6.12.0
contourpy==1.3.3
crc32c==2.9
cryptography==45.0.7
cssselect==1.5.0
cssutils==2.15.0
cycler==0.12.1
Cython==3.3.0
decorator==5.3.1
deep-translator==1.11.4
encutils==1.0.0
et_xmlfile==2.0.0
fastapi==0.115.0
filelock==3.32.5
fire==0.7.1
Flask==3.1.3
flask-babel==4.0.0
fonttools==4.64.0
frozenlist==1.8.0
fsspec==2026.7.0
future==1.0.0
greenlet==3.3.0
gTTS==2.5.3
h11==0.16.0
hf-xet==1.6.0
httpcore==1.0.9
httptools==0.8.0
httpx==0.27.2
huggingface_hub==1.30.0
idna==3.19
ImageIO==2.37.4
imagesize==2.0.1
imgaug==0.4.0
itsdangerous==2.2.0
Jinja2==3.1.6
jmespath==1.1.0
kiwisolver==1.5.1
lazy-loader==0.5
lmdb==2.3.0
lxml==6.1.3
MarkupSafe==3.0.3
matplotlib==3.11.1
modelscope==1.39.1
modelscope-hub==0.4.0
more-itertools==11.1.0
multidict==6.7.1
networkx==3.6.1
numpy==1.26.4
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
opencv-python-headless==4.6.0.66
openpyxl==3.1.5
opt-einsum==3.3.0
packaging==26.3
paddleocr==2.7.3
paddlepaddle==2.6.2
paddlex==3.7.2
pandas==2.3.2
pdf2docx==0.5.13
pdfminer.six==20250506
pdfplumber==0.11.7
pillow==10.4.0
premailer==3.10.0
prettytable==3.18.0
propcache==0.5.2
protobuf==3.20.2
psutil==7.2.2
py-cpuinfo==9.0.0
pyclipper==1.4.0
pycparser==2.22
pycryptodome==3.23.0
pydantic==2.9.2
pydantic_core==2.23.4
pyjokes==0.8.3
pymupdf==1.28.2
pyparsing==3.3.2
pypdfium2==4.30.0
pypng==0.20220715.0
pytesseract==0.3.13
python-bidi==0.6.11
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.2.3
python-multipart==0.0.9
pyttsx3==2.99
pytz==2025.2
PyYAML==6.0.2
qrcode==7.4.2
RapidFuzz==3.14.6
rarfile==4.5
requests==2.34.2
ruamel.yaml==0.19.1
s3transfer==0.10.4
safetensors==0.8.0
scikit-image==0.26.0
scipy==1.17.1
shapely==2.1.2
six==1.17.0
sniffio==1.3.1
soupsieve==2.9.2
SQLAlchemy==2.0.45
starlette==0.38.6
termcolor==3.3.0
tifffile==2026.3.3
tqdm==4.70.0
typing_extensions==4.15.0
tzdata==2025.2
ujson==6.0.0
urllib3==2.7.0
uvicorn==0.30.6
visualdl==2.5.3
watchfiles==1.2.0
wcwidth==0.8.3
websockets==17.1
Werkzeug==3.1.8
yarl==1.24.5
