 fastapi==0.115.0
 uvicorn[standard]==0.30.6 
python-multipart==0.0.9
 pydantic==2.9.2 
paddleocr==2.7.3
 paddlepaddle==2.6.2
 numpy==1.26.4
 opencv-python-headless==4.6.0.66
 Pillow==10.4.0
 qrcode[pil]==7.4.2
 gTTS==2.5.3
 deep-translator==1.11.4